.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.header-row {
    flex-direction: column;
    align-items: center;
    height: 80px;
    justify-content: space-around;
}
.col-md-7 {
    z-index: 10;
}
.row-about-content {
    display: flex;
}
.row-about-box{
    margin-bottom: 40px;
}
.row-about-box:last-child {
    margin-bottom: 0;
}
.row-social-team {
    display: flex;
}
.row-team {
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio-row {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}
.show-more-row {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.row-service-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* 
.copyright-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    overflow: hidden;
} */

/* tablet */

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
    .header-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .row-about-content {
        display: flex;
        flex-direction: column;
    }
    .col-sm-12 {
        width: 100%;
        padding-top: 10px;
    }
    .row-about-box {
        margin-bottom: 0px;
        padding-top: 10px;
    }
    .row-social-items {
        padding-bottom: 10px;
    }
    .row-work {
        flex-wrap: wrap;
        justify-content: center;
    }
    .col-sm-6 {
        width: 50%;
    }
    .section [class*="col-"]{
        padding: 10px;
    }
    .row-team {
        padding-bottom: 15px;
    }
    .col-sm-4{
        width: 30.3333%;
    }
    .contact-row {
        display: block;
    }
}

/* laptop */

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
    .row-about-content {
        display: flex;
        flex-direction: row;
    }
    .col-md-12{
        width: 100%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-5 {
        width: 41.67%;
    }
    .col-md-11 {
        padding-left: 0;
    }
    .row-about-box {
        margin-bottom: 40px;
        padding-top: 0px;
    }
    .row-social-items {
        padding-bottom: 0px;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4 {
        width: 33.3333%;
    }
    .row-team{
        padding-bottom: 100px;
    }
    .contact-row {
        display: flex;
    }
}

/* desktop */

@media(min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}

/* mobile */

@media(max-width:767px) {
    .search {
        width: 100%;
    }
    .header-row {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 120px;
    }
    .about .col-xs-12 {
        width: 100%;
        padding-top: 10px;
    }
    .row-about-content {
        display: flex;
        flex-direction: column;
    }
    .row-about-box {
        margin-bottom: 0px;
        flex-direction: column;
    }
    .col-xs-11 {
        padding-top: 10px;
    }
    .row-social-items {
        padding-bottom: 10px;
    }
    .section [class*="col-"]{
        padding-top: 10px;
    }
    .row-team {
       padding-bottom: 10px;
    }
    .portfolio-row {
        padding-bottom: 0;
    }
    .show-more-row {
        padding-bottom: 10px;
    }
}