* {
    box-sizing: border-box;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*----------------  Menu  -------------------*/

.header {
    position: sticky;
    top: 0;
    background-color: #1d2026;
    color: white;
    z-index: 99;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.menu-item {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ad9c9b;
    text-transform: uppercase;
    padding: 0px 10px;
    margin: 0 5px;
    display: inline-block;
    line-height: 26px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.nav-menu .menu-item:hover {
    border-color: #6b565d;
    -webkit-transition: all .45s cubic-bezier(0.33, 0.31, 0.4, 1.06);
    -moz-transition: all .45s cubic-bezier(0.33, 0.31, 0.4, 1.06);
    -ms-transition: all .45s cubic-bezier(0.33, 0.31, 0.4, 1.06);
    -o-transition: all .45s cubic-bezier(0.33, 0.31, 0.4, 1.06);
    transition: all .45s cubic-bezier(0.33, 0.31, 0.4, 1.06);
}

.active:first-child {
    border-color: #39a492;
    color: #39a492;
}

.active:hover {
    background-color: #39a492;
    color: black;
    border-color: #39a492 !important;
}

.form-search {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.form-search input[type="text"] {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border: 2px solid #3c4147;
    outline: none;
    background: inherit;
    display: block;
    color: #ad9c9b;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 7px;
    padding-right: 30px;
}

.form-search input::-webkit-input-placeholder {
    color: #ad9c9b;
}

.form-search input::-moz-placeholder {
    color: #ad9c9b;
}

.form-search input:-ms-input-placeholder {
    color: #ad9c9b;
}

.btn-search {
    display: block;
    position: absolute;
    border: none;
    padding: 0;
    width: 37px;
    height: 37px;
    top: 0px;
    right: 0px;
    background: transparent;
    background-image: url(../images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.form-search input:hover {
    border-color: #39a492;
}

.form-search input:focus {
    border-color: #39a492;
}

.form-search .btn-search:hover {
    transform: scale(1.7);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    outline: none;
}

body .current a {
    border-color: #6b565d;
    box-shadow: 0 0px 20px 0 #6b565d;
}

/*---------------  slider  -----------------*/
.slide-1{
    background-image: url(../images/moon.png);
}
.slide-2{
    background-image: url(../images/slider.png);
}
.slide-3{
    background-image: url(../images/lake.png);
}
.slide-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: round;
}
.slider-container-fluid {
    position: absolute;
    width: 100%;
    height: 660px;
}

.slider-content-container {
    position: relative;
    height: 660px;
    align-items: center;
    display: flex;
}
.slider-content {
    z-index: 20;
}

.slider-title {
    color: white !important;
    border: none !important;
    padding-left: 0 !important;
}
.slider-text{
    padding-top: 30px;
}
.slider-wrapper-btn{
    padding-top: 40px;
    display: flex;
}
.slider-btn{
    margin-right: 10px;
    color: white;
}
.slider-btn:hover {
    background-color: #39a492;
    color: white;
    border-color: #39a492;
}
.slider-container-fluid .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    border: 2px solid white;
}

/*-------------  section about  -----------------*/

.about {
    background-color: white;
}
.title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292f36;
    border-left: 10px solid #e1e6ea;
    padding-left: 14px;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #b4b5b7;
    line-height: 1.6;
    font-size: 16px;
}
.text-about{
    padding-bottom: 40px;
    text-align: justify;
}
.text-about:last-child {
    padding-bottom: 0;
}
.quote {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #8d8f92;
}
.square-number {
    width: 50px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background-color: #39a492;
    color: #ffe5e5;
}
.subtitle {
    font-size: 16px;
    padding-bottom: 10px;
    border: none;
    padding-left: 0;
}
.social-items {
   display: flex;
   overflow: hidden;
}
.social-icons {
    width: 60px;
    height: 60px;
    margin-right: 1px;
    background-color: #c8cdd0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons:last-child {
    margin-right: 0px;
}
.social-icons:hover {
    background-color: #cfd5d9;
}

/*------------- sep  ---------------*/

.sep {
    border: 1px solid #d0d5d9;
}

/*-------------  section team  ---------------*/

.foto-member {
    display: block;
    position: relative;
}
.foto {
    width: 100%;
    display: block;
}
.image{
    display: block;
    width: 100%;
    height: 100%;
}

.info-member{
    padding: 20px;
    background-color: #e1e6ea;
}
.name-member {
    font-size: 16px;
    padding-bottom: 5px;
    color: #292f36;
    border-left: none;
    padding-left: 0;
}
.current-post {
    font-size: 14px;
}
.overlay-team {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.40);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons-team {
    width: 50px;
    height: 50px;
    background-color: #3a454d;
}
.team-member:hover .overlay-team {
    opacity: 1;
    visibility: visible;
}
.social-team-row .social-icons:hover {
    background-color: #4e5a62;
}
.team-member:hover .info-member {
    background-color: #3a454d;
}
.team-member:hover .name-member {
    color: white;
}
.team-member:hover .current-post {
    color: white;
}

/*---------------section work-----------------*/

.work {
    background-color: #3a454d;
}
.title-color-border{
    border-left-color: #4e5a62;
}
.portfolio {
    padding-bottom: 15px;
}
.portfolio-foto {
    width: 100%;
    position: relative;
    cursor: pointer;
}
.overlay-work {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
}

.plus {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-work {
    border-radius: 50%;
    background-color: #292f36;
}
.portfolio-caption {
    background-color: #292f36;
}

.subtitle-work {
    font-size: 18px;
    border: none;
    color: white;
    text-align: center;
    line-height: 18px;
    padding: 22px 0;
}
.portfolio:hover .overlay-work {
    opacity: 1;
    visibility: visible;
}
.portfolio:hover .image-work {
    transition: all 1s cubic-bezier(0.18, 0.96, 0.29, 1.22);
    transform: rotate(180deg);
}
.btn {
    display: block;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.btn:focus{
    outline: none;
} 
.button-show-more{
    color: white;
    width: max-content;
    margin: 0 auto;
}
.button-show-more:hover {
    background-color: #39a492;
    color: white;
    border-color: #39a492;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
     -moz-transition: 0.5s ease-in-out;
     -o-transition: 0.5s ease-in-out;
}

/*-------------  section service  ---------------*/

.service-item-block {
    text-align: center;
    padding-bottom: 30px;
}

.service-item {
    width: 100%;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 35px;
}

.service-item-cogs {
    background-image: url(../images/cogs.png);
}

.service-item-pencil {
    background-image: url(../images/pencil.png);
}

.service-item-clock {
    background-image: url(../images/clock.png);
}

/*-------------  section features  ---------------*/

.features {
    background-color: #3a454d;
}
.features-foto {
    width: 100%;
}
.subtitle-features {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 0;
}
.text-features {
    padding-top: 30px;
    text-align: justify;
}

/*---------------section contact-----------------*/

.contact {
    padding-bottom: 100px;
}

.map {
    width: 100%;
}

.subtitle-contact {
    font-size: 20px;
    border: none;
    padding-left: 0;
}

.text-contact {
    line-height: 1.4;
    font-size: 16px;
    padding-top: 40px;
    text-align: justify;
}

.btn-send-message {
    background-color: #39a492;
    border-color: #39a492;
    color: white;
    width: max-content;
}
.btn-send-message:hover {
    box-shadow: 0 0 10px 0 #39a492 inset, 0 0 10px 4px #39a492;
    background-color: #fff;
}

.btn-send-message:hover{
    color: #39a492;
}

/*---------------footer-----------------*/

.footer {
    background-color: #1d2026;
   
}

.copyright-social {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}


.copyright-social-icons {
    margin: 0;
    background: none;
    width: 38px;
    height: 38px;
}

/*------------Modal send message --------------*/

.modal-send-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 555px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.8s;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transform: perspective(500px) translate(0px, -400px) rotateX(45deg);
    ;
}

.modal-form {
    width: 100%;
    text-align: center;
}

.row-form-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form-fields {
    width: 46.61%;
}

.modal-close {
    font-size: 1.1em;
    text-align: right;
    margin-bottom: 20px;
}

.name-fields {
    font-size: 14px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    color: #ad9c9b;
    margin-bottom: 10px;
    text-align: left;
}

.modal-send-message input[type="text"] {
    width: 100%;
    font-size: 21px;
    font-family: 'Quattrocento Sans', sans-serif;
    padding: 8px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border: 2px solid #7e8389;
    outline-color: #39a492;
    background-color: #eaeef1;
}

.text-send .name-fields {
    margin-top: 20px;
}

.text-send textarea {
    width: 100%;
    height: 160px;
    font-size: 21px;
    font-family: 'Quattrocento Sans', sans-serif;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border: 2px solid #7e8389;
    outline-color: #39a492;
    background-color: #eaeef1;
}

.text-send {
    margin-bottom: 7px;
}

.btn-send-message-modal {
    color: black;
    padding: 5px 25px;
    font-size: 21px;
    background-color: #607D8B;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-send-message-modal::after {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 0%;
    background: #39a492;
    z-index: -1;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

.btn-send-message-modal:hover {
    color: #fff;
}

.btn-send-message-modal:hover::after {
    height: 300%;
}

.hide {
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.8s;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
}

.show {
    opacity: 1;
    visibility: visible;
    transition: all ease 0.8s;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
}

.show-animate-modal {
    opacity: 1;
    visibility: visible;
    transition: all ease 0.8s;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
    transform: translate(0px, 0px);
}

/* tablet */

@media(min-width:768px) {
    .menu-item {
        margin: 0 2px;
        padding: 0 4px;
    }
    .search {
        padding: 0;
    }
    .form-search input[type="text"] {
        font-size: 11px;
    }
    .slider-container-fluid, .slider-content-container{
        height: 445px;
    }
    .slider-container-fluid .swiper-pagination-bullets {
        bottom: 30px;
        text-align: center;
    }
    .text-about {
        padding-bottom: 15px;
    }
    .social-items {
        padding-top: 10px;
        justify-content: center;
    } 
    .features {
        padding-bottom: 10px;
    }
    .contact {
        padding-bottom: 10px;
    }
    .contact-map {
        padding-top: 15px;
    }
    .text-contact {
        padding-top: 10px;
    }
    .subtitle-contact {
        text-align: center;
    }
    .btn-send-message {
        margin: 0 auto;
    }
    .copyright-text {
        font-size: 14px;
    }
}

/* laptop */

@media(min-width:992px) {
    .menu-item {
        margin: 0 5px;
        padding: 0 10px;
    }
    .search {
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-search input[type="text"] {
        font-size: 14px;
    }
    .slider-container-fluid, .slider-content-container {
        height: 660px;
    }
    .slider-title {
        font-size: 32px;
    }
    .slider-text {
        text-align: left;
    }
    .slider-container-fluid .swiper-pagination-bullets {
        bottom: 30px;
        left: 430px;
    }
    .section {
        padding: 85px 0 85px 0;
    }
    .title-section{
        margin-bottom: 45px;
    }
    .text-about {
        padding-bottom: 40px;
    }
    .social-items {
        padding-top: 0px;
        display: flex;
        justify-content: start;
    }
    .text-contact {
        padding-top: 40px;
    }
    .subtitle-contact {
        text-align: left;
    } 
    .button-contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .btn-send-message {
        margin: 0;
    }
}

/* desktop */

@media(min-width:1200px) {
    
    .slider-title {
        font-size: 36px;
    }
    .slider-container-fluid .swiper-pagination-bullets{
        bottom: 30px;
        left: 535px;
    }
  
}

/* mobile */

@media(max-width:767px) {
    .menu {
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .nav-menu {
        justify-content: start;
    }
    .slider-container-fluid, .slider-content-container {
        height: 245px;
    }
    .slider-container-fluid .swiper-pagination-bullets {
        text-align: center;
    }
    .slider-title {
        font-size: 18px;
        padding-bottom: 0;
        text-align: center;
    }
    .slider-text {
        font-size: 14px;
        line-height: 1.4;
        padding-top: 10px;
        text-align: justify;
        color: white;
    }
    .slider-wrapper-btn {
        justify-content: space-around;
        padding-top: 10px;
    }
    .slider-btn{
        margin: 0;
    }
    .title-section {
        font-size: 30px;
    }
    .text-about{
        padding-bottom: 15px;
        text-align: center
    }
    .square-number {
        width: 100%;
        font-size: 20px;
        line-height: 20px;
    }
    .subtitle {
        text-align: center;
    }
    .text-desc {
        text-align: center;
    }
    .social-items {
        justify-content: center;
        padding-top: 10px;
    }
    .portfolio {
        display: flex;
        justify-content: center;
    }
    .service-item-block {
        padding-bottom: 10px;
    }
    .features {
        padding-bottom: 10px;
    }
    .subtitle-features {
        padding-top: 15px;
    }
    .text-features {
        padding-top: 12px;
        font-size: 14px;
    }
    .contact {
        padding-bottom: 15px;
    }
    .contact-map {
        padding-top: 15px;
    }
    .contact-information {
        text-align: center;
    }
    .text-contact {
        padding-top: 10px;
    }
    .btn-send-message {
        margin: 0 auto;
    }
    .copyright-text {
        font-size: 12px;
        text-align: center;
    }
    .copyright-social {
        justify-content: center;
    }
   
    /*----------Modal-----------*/
    .modal-content {
        width: 80%;
    }
    .row-form-input {
        display: block;
        margin: 0;
    }
    .form-fields {
        width: 100%;
        margin-bottom: 10px;
    }
    /*----------Modal-----------*/
}