* {
    box-sizing: border-box;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*----------------  Menu  -------------------*/

.header {
    position: sticky;
    top: 0;
    background-color: #1d2026;
    color: white;
    z-index: 1;
}
.nav-menu {
    display: flex;
    justify-content: center;
}
.menu-item {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ad9c9b;
    text-transform: uppercase;
    padding: 8px 10px;
    margin: 0 5px;
}

.nav-menu .menu-item:hover {
    border-radius: 5px;
    border: 2px solid #6b565d;
    padding: 6px 8px;
    -webkit-transition: all .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
    -moz-transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
    -ms-transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
    -o-transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
    transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
}

.active:first-child {
    border-radius: 5px;
    border: 2px solid #39a492;
    color: #39a492;
    padding: 6px 8px;
}

.active:hover {
    background-color: #39a492;
    color: black;
    border: 2px solid #39a492 !important;
}

.form-search {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.form-search input[type="text"] {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border: 2px solid #3c4147;
    outline: none;
    background: inherit;
    display: block;
    color: #ad9c9b;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 7px;
    padding-right: 30px;
}

.form-search input::-webkit-input-placeholder {
    color: #ad9c9b;
}

.form-search input::-moz-placeholder {
    color: #ad9c9b;
}

.form-search input:-ms-input-placeholder {
    color: #ad9c9b;
}

.btn-search {
    display: block;
    position: absolute;
    border: none;
    padding: 0;
    width: 37px;
    height: 37px;
    top: 0px;
    right: 0px;
    background: transparent;
    background-image: url(../images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.form-search input:hover {
    border-color: #39a492;
}

.form-search input:focus {
    border-color: #39a492;
}

.form-search .btn-search:hover {
    transform: scale(1.7);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

/*---------------  slider  -----------------*/

.slider {
    display: flex;
    align-items: center;
    height: 660px;
    /* padding-top: 225px;
    padding-bottom: 165px; */
    background-image: url(../images/slider.png);    
}

.row-btn {
    margin-left: 0;
    margin-right: 0;
}

.title-slider {
    color: white !important;
    border: none !important;
    padding-left: 0 !important;
    padding-bottom: 30px;
}

.title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292f36;
    border-left: 10px solid #e1e6ea;
    padding-left: 14px;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #b4b5b7;
    line-height: 1.6;
    font-size: 16px;
    padding-bottom: 40px;
}

.button-slider {
    margin-top: 0 !important;
    margin-right: 10px;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 30px;
    padding: 15px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

/*-------------  section about  -----------------*/
.about {
    background-color: white;
}

.quote{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #8d8f92;
}

.square-numb {
    width: 50px;
    height: 50px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background-color: #39a492;
    color: #ffe5e5;
}
.subtitle {
    font-size: 16px;
    padding-bottom: 10px;
    border: none;
    padding-left: 0;
}
.text-about{
    padding-bottom: 0;
}

.social {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.social-icons {
    width: 60px;
    height: 60px;
    margin-right: 1px;
    background-color: #c8cdd0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons:hover {
    background-color: #cfd5d9;
}

/*------------- sep  ---------------*/

.sep {
    border: 1px solid #d0d5d9;
    margin-top: 100px;
}

/*-------------  section work  ---------------*/

.foto-member {
    display: block;
    position: relative;
    height: 300px;
}
.member-info {
    padding: 20px;
    background-color: #e1e6ea;
}
.text-foto {
    font-size: 14px;
    padding-bottom: 0;
}

.overlay-work {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.40);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    align-items: center;
}

.overlay-row {
    display: flex;
    margin: 0 auto;
}

.social-icons-work {
    width: 50px;
    height: 50px;
    background-color: #3a454d;
}

.overlay-row .social-icons:hover {
    background-color: #4e5a62;
}

.team-member:hover .overlay-work {
    opacity: 1;
    visibility: visible;
}

.team-member:hover .member-info {
    background-color: #3a454d;
    color: white;
}

.team-member:hover .subtitle {
    color: white;
}

.box {
    padding-left: 15px;
    padding-right: 15px;
}

.text-box {
    margin-right: -15px;
}

.work {
    padding-bottom: 100px;
}
/*---------------section team-----------------*/ 

.team {
    background-color: #3a454d;
}

.portfolio-foto {
    position: relative;
    cursor: pointer;
}

.overlay-team {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.plus {
    width: 100%;
    height: 205px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.overlay-team .overlay-row {
    display: block;
}

.portfolio-team {
    background-color: #292f36;
    padding: 22px 6px;
}

.subtitle-team {
    font-size: 18px;
    border: none;
    color: white;
}

.portfolio:hover .overlay-team {
    opacity: 1;
    visibility: visible;
}

.portfolio-row {
    flex-wrap: wrap;
    justify-content: center;
}

.show-more-row {
    justify-content: center;
}

/*-------------  section service  ---------------*/
.section-row{
    display: block;
}
.service-item-block{
    text-align: center;
    margin: 30px 0;
    flex: 0 0 33.333%;
}
.service-item{
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 35px;
}
.service-item-cogs{
    background-image:url(../images/cogs.png);
}
.service-item-pencil{
    background-image:url(../images/pencil.png);
}
.service-item-clock{
    background-image:url(../images/clock.png);
}

.text-service{
    padding-bottom: 0;
}
.service-item-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 130px;
}

/*-------------  section features  ---------------*/

.features {
    background-color: #3a454d;
}

.title-section-feature, .subtitle-features, .text-features{
    color: white;
}
.title-section-feature{
    border-left: 10px solid #4e5a62;
}
.features-item-block{
    text-align: center;
}
.features-item-row{
    display: flex;
}
.subtitle-features{
    padding-top: 50px;
    padding-bottom: 20px;
}
.text-features{
    padding-bottom: 90px;
}



/* tablet */

@media(min-width:768px) {
    .menu-item {
        margin: -4px;
    }
    .active:first-child {
        padding: 3px 4px;
    }
    .slider {
       height: 225px;
    }
    .button-slider {
        margin-bottom: 15px;
        margin-top: 0px;
        width: 100%;
    }
    .title-slider {
        text-align: center;
        padding-bottom: 15px;
    }
    .text-slider {
        text-align: center;
        padding-bottom: 15px;
    }
    .title-section {
        margin: 0 auto;
    }
    .text-about {
        padding-bottom: 10px;
    }
    .social {
        justify-content: center;
    }
    .team-member {
        margin-bottom: 10px;
    }
    .portfolio-foto img {
        width: 300px;
    }
    .button-show-more {
        width: fit-content;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .service-item-row {
        margin-bottom: 10px;
    }
      .features-image{
        width: 100%;
    }  
    .subtitle-features {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .text-features {
        padding-bottom: 0px;
    }
}

/* laptop */

@media(min-width:992px) {
    .menu-item {
        padding: 8px 10px;
        margin: 0;
    }
    .active:first-child {
        padding: 6px 8px;
    }
    .slider{
        height: 660px;
    }
    .button-slider {
        margin-bottom: 60px;
        margin-top: 15px;
        width: auto;
    }
    .title-slider {
        text-align: left;
    }
    .text-slider {
        text-align: left;
    }
    .title-section {
        margin: 0;
    }   
    .social {
        justify-content: start;
    }
   .foto-member {
        height: 230px;
    }
    .foto {
        height: 100%;
    }
    .team-member {
        margin-bottom: 0;
    }
    .portfolio-foto img {
        width: 290px;
    }
    .button-show-more {
        width: fit-content;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .service-item-row {
        margin-bottom: 70px;
    }
    .subtitle-features {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .text-features {
        padding-bottom: 40px;
    }
 
}

/* desktop */

@media(min-width:1200px) {
    .menu-item {
        margin: 0 5px;
    }
    .active:first-child {
        padding: 6px 8px;
    }
    .text-about{
        padding-bottom: 40px;
    }
    .foto-member {
        height: 300px;
    }
    .portfolio-foto img {
        width: 100%;
    }
    .service-item-row {
        margin-bottom: 130px;
    }
    .text-features {
        padding-bottom: 90px;
    }
}

/* mobile */

@media(max-width:767px) {
    .menu {
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        padding: 10px 10px;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .menu-item{
        margin: -2px;
        font-size: 16px;
        padding: 6px 7px;
    }
    .nav-menu {
        justify-content: start;
    }
    .active:first-child {
        padding: 2px 7px;
    }
    .slider{
        height: auto;
        padding: 10px 0;
    }
    .title-slider {
        font-size: 18px;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }
    .text {
        text-align: center;
        padding-bottom: 10px;
    }
    .text-slider {
        font-size: 14px;
        line-height: 1.4;
    }
    .button {
        margin-top: 0;
        margin-right: 0;
        width: 100%;
    }
    .button-slider {
        margin-bottom: 10px;
        padding: 5px; 
    }
    .btn {
        font-size: 18px;
    }
  
    .title-section{
        font-size: 25px;
        margin: 0 auto;
    }
    .subtitle {
        text-align: center;
        padding-bottom: 2px;
    }
    .text-about {
        font-size: 14px;
        line-height: 1.4;
    }
    .work {
        padding-bottom: 5px;
    }
    .member-info {
        /* width: 263px; */
        padding: 10px;
        text-align: center;
    }
    .text-foto {
        padding-bottom: 0;
    }
    .team-member {
        margin-bottom: 5px;
    }
    .box {
        display: flex;
        flex-direction: row;
    }
    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .overlay-team h2 {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .portfolio-foto img {
        width: 263px;
    }
    .portfolio {
        display: flex;
        justify-content: center;
    }
    .button-show-more {
        flex: 0 0 82%;
    }
     .show-more-row {
        flex-direction: row;
    }
    .service-item-row {
        display: block;
        margin-bottom: 0;
    }
    .features-item-row{
        display: block; 
    }
    .features-image{
        width: 100%;
    }
    .subtitle-features {
        padding-top: 10px;
        padding-bottom: 10px;
    }
 
  
}
body .current a {
    border:2px solid #bbcac3 ;
    border-radius: 4px;
}