.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
}

.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.header-row [class*="col-md"]{
    padding-left: 15px;
    padding-right: 15px;
}

 .header-row{
     flex-direction: column;
     align-items: center;
     height: 120px;
     justify-content: space-around;
 }

.nav-menu{
    display: flex;
    justify-content: center;
}


/* tablet */
@media(min-width:768px){
    .container{
        max-width: 720px;
    }
    .header-row{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
  
 
}


/* laptop */
@media(min-width:992px){
    .container{
        max-width: 960px;
    }
    .col-md-2{
        width: 16.67%;
    }
    
    .col-md-8{
        width: 66.66%;
    }
}


/* desktop */
@media(min-width:1200px){
    .container{
        max-width: 1170px;
    }
}



/* mobile */
@media(max-width:767px){
    .search{
        width: 100%;
    }
}