*{
    box-sizing: border-box;
}

body{
    font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* tablet */
@media(min-width:768px){
   

}



/* laptop */
@media(min-width:992px){
   

}




/* desktop */
@media(min-width:1200){
    
    
}



/* mobile */
@media(max-width:767px){
     
}
