*{
    box-sizing: border-box;
}

body{
    font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header{
    position: sticky;
    top:0;
    background-color: #1d2026;
    color: white;
 }



 .nav-menu a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ad9c9b;
    text-transform: uppercase;
    padding: 8px 10px;
    margin: 0 5px;
    
}

 .nav-menu a:hover {
    border-radius: 5px;
    border: 2px solid #6b565d;
    padding: 6px 8px;
    -webkit-transition: all .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
    -moz-transition:  .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
  -ms-transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
  -o-transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
  transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
   }

.active:first-child{
    border-radius: 5px;
    border: 2px solid #39a492;
    color: #39a492;
    padding: 6px 8px;
}   

.active:hover{
    background-color: #39a492;
    color: black;
    border: 2px solid #39a492 !important;
}

.row-search form{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.row-search input[type="text"]{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -khtml-border-radius: 5px; 
    border: 2px solid #3c4147;
    outline: none;
    background: inherit;
    display: block;
    color: #ad9c9b;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 7px;
    padding-right: 30px;
}


.row-search input::-webkit-input-placeholder {
    color: #ad9c9b;
}
       
.row-search  input::-moz-placeholder {  
    color: #ad9c9b;
}
     
.row-search input:-ms-input-placeholder {  
     color: #ad9c9b;
}

.row-search button{
    display: block;
    position: absolute;
    border: none;
    padding: 0;
    width: 37px;
    height: 37px;
    top: 0px;
    right: 0px;
    background: transparent;
    background-image: url(images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.row-search input:hover {
    border-color: #39a492;
}

.row-search input:focus{
    border-color: #39a492;
}

.row-search button:hover{
    transform: scale(1.7);
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
}

.box-slider{
    text-align: center;
}

.about{
    background-color: white;
}

.title{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292f36;
    border-left: 10px solid #e1e6ea;
    padding-left: 14px;
}

p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #b4b5b7;
    line-height: 1.6;
    padding-bottom: 40px;
}

span{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.square-numb{
    width: 50px;
    height: 50px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background-color: #39a492;
    color: #ffe5e5;
}

h2{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292f36;
    margin-bottom: 18px;
}

.social{
    margin-top: 0;
    margin-bottom: 0;
}
.social-icons{
    width: 60px;
    height: 60px;
    margin-right: 1px;
    background-color: #c8cdd0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons:hover{
    background-color: #cfd5d9;
}
.sep{
    border: 1px solid #d0d5d9;
    margin-top: 100px;
}
.box-foto{
    height: 374px;
    background-color: #e1e6ea;
}
.text-foto{
    padding-left: 20px;
    
}


/* tablet */
@media(min-width:768px){
   
    .nav-menu a{
        margin: -4px;
     }

    .active:first-child {
        padding: 3px 4px;
    }
    .social{
        justify-content: center;
 }
}




/* laptop */
@media(min-width:992px){
    .nav-menu a{
        padding: 8px 10px;
        margin: 0;
    }
    .active:first-child {
        padding: 6px 8px;
    }
    .social{
        justify-content: start;
 }
}


/* desktop */
@media(min-width:1200px){
    .nav-menu a{
        margin: 0 5px;
    }
    .active:first-child {
        padding: 6px 8px;
    }
}



/* mobile */
@media(max-width:767px){
    .menu{
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        padding: 10px 10px;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .nav-menu a{
        margin: -2px;
        font-size: 16px;
        padding: 6px 7px;
    }
    .nav-menu{
        justify-content: start;
    }
    .active:first-child{
        padding: 2px 7px;
    }
    .title{
        font-size: 32px;
    }
  
    p {
        font-size: 14px;
        line-height: 1.4;
        padding-bottom: 15px;
    }
    h2 {
        font-size: 14px;
        margin-bottom: 0px;
    }
}