*{
    box-sizing: border-box;
}

body{
    font-family: 'Quattrocento Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header{
    position: sticky;
    top:0;
    background-color: #1d2026;
    color: white;
 }



 .nav-menu a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ad9c9b;
    text-transform: uppercase;
    padding: 8px 10px;
    margin: 0 5px;
    
}

 .nav-menu a:hover {
    border-radius: 5px;
    border: 2px solid #6b565d;
    padding: 6px 8px;
    -webkit-transition: all .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
    -moz-transition:  .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
  -ms-transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
  -o-transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
  transition: .45s cubic-bezier(0.15, 1.07, 0.15, 1.07);
   }

.active:first-child{
    border-radius: 5px;
    border: 2px solid #39a492;
    color: #39a492;
    padding: 6px 8px;
}   

.active:hover{
    background-color: #39a492;
    color: black;
    border: 2px solid #39a492 !important;
}

.row-search form{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.row-search input[type="text"]{
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -khtml-border-radius: 5px; 
    border: 2px solid #3c4147;
    outline: none;
    background: inherit;
    display: block;
    color: #ad9c9b;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 7px;
    padding-right: 30px;
}


.row-search input::-webkit-input-placeholder {
    color: #ad9c9b;
}
       
.row-search  input::-moz-placeholder {  
    color: #ad9c9b;
}
     
.row-search input:-ms-input-placeholder {  
     color: #ad9c9b;
}

.row-search button{
    display: block;
    position: absolute;
    border: none;
    padding: 0;
    width: 37px;
    height: 37px;
    top: 0px;
    right: 0px;
    background: transparent;
    background-image: url(images/search.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.row-search input:hover {
    border-color: #39a492;
}

.row-search input:focus{
    border-color: #39a492;
}

.row-search button:hover{
    transform: scale(1.7);
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
}

/* tablet */
@media(min-width:768px){
   
    .nav-menu a{
        margin: -4px;
     }

    .active:first-child {
        padding: 3px 4px;
    }
}



/* laptop */
@media(min-width:992px){
    .nav-menu a{
        padding: 8px 10px;
        margin: 0;
    }
    .active:first-child {
        padding: 6px 8px;
    }
}


/* desktop */
@media(min-width:1200px){
    .nav-menu a{
        margin: 0 5px;
    }
    .active:first-child {
        padding: 6px 8px;
    }
}



/* mobile */
@media(max-width:767px){
    .menu{
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        padding: 10px 10px;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .nav-menu a{
        margin: -2px;
        font-size: 16px;
        padding: 6px 7px;
    }
    .nav-menu{
        justify-content: start;
    }
    .active:first-child{
        padding: 2px 7px;
    }

}